<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Equip" version="0.4.130" targetFramework="net461" />
  <package id="Microsoft.Web.Xdt" version="2.1.1" targetFramework="net461" />
  <package id="NuGet.Core" version="2.14.0" targetFramework="net461" />
  <package id="NUnit" version="3.9.0" targetFramework="net461" />
  <package id="NUnit3TestAdapter" version="3.9.0" targetFramework="net461" />
  <package id="Selenium.Chrome.WebDriver" version="2.33" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="3.7.0" targetFramework="net461" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net461" />
  <package id="WebDriver.ChromeDriver" version="26.14.313457.1" targetFramework="net461" />
</packages>